[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule ".vim/bundle/restart"]
	path = .vim/bundle/restart
	url = git@github.com:vim-scripts/restart.vim.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = git@github.com:ap/vim-css-color
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git@github.com:msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-localvimrc"]
	path = .vim/bundle/vim-localvimrc
	url = git@github.com:embear/vim-localvimrc.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:genoma/vim-less.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git@github.com:genoma/vim-less.git
[submodule ".vim/bundle/neomru.vim"]
	path = .vim/bundle/neomru.vim
	url = git@github.com:Shougo/neomru.vim.git
[submodule ".vim/bundle/smarty.vim"]
	path = .vim/bundle/smarty.vim
	url = git@github.com:blueyed/smarty.vim.git
[submodule ".vim/bundle/vim-notgrep"]
	path = .vim/bundle/vim-notgrep
	url = git@github.com:idbrii/vim-notgrep.git
[submodule ".vim/bundle/vim-gutentags"]
	path = .vim/bundle/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/bundle/vim-qlist"]
	path = .vim/bundle/vim-qlist
	url = git@github.com:romainl/vim-qlist.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/php.vim"]
	path = .vim/bundle/php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = git@github.com:w0rp/ale.git
