[submodule ".vim/pack/syntax/start/vim-javascript"]
	path = .config/vim/pack/syntax/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/syntax/start/vim-less"]
	path = .config/vim/pack/syntax/start/vim-less
	url = git@github.com:genoma/vim-less.git
[submodule ".vim/pack/syntax/start/smarty.vim"]
	path = .config/vim/pack/syntax/start/smarty.vim
	url = git@github.com:blueyed/smarty.vim.git
[submodule ".vim/pack/plugins/opt/vdebug"]
	path = .config/vim/pack/plugins/opt/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule ".vim/pack/plugins/opt/async.vim"]
	path = .config/vim/pack/plugins/opt/async.vim
	url = git@github.com:prabirshrestha/async.vim
[submodule ".vim/pack/plugins/opt/asyncomplete.vim"]
	path = .config/vim/pack/plugins/opt/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/plugins/opt/asyncomplete-lsp.vim"]
	path = .config/vim/pack/plugins/opt/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/plugins/opt/vim-lsp"]
	path = .config/vim/pack/plugins/opt/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp
[submodule ".config/vim/pack/plugins/start/vim-qlist"]
	path = .config/vim/pack/plugins/start/vim-qlist
	url = git@github.com:humeniuc/clone-vim-qlist.git
[submodule ".config/vim/pack/plugins/start/vim-sandwich"]
	path = .config/vim/pack/plugins/start/vim-sandwich
	url = git@github.com:humeniuc/clone-vim-sandwich.git
[submodule ".config/vim/pack/plugins/start/vim-commentary"]
	path = .config/vim/pack/plugins/start/vim-commentary
	url = git@github.com:humeniuc/clone-vim-commentary.git
[submodule ".config/vim/pack/plugins/start/vim-tabular"]
	path = .config/vim/pack/plugins/start/vim-tabular
	url = git@github.com:humeniuc/clone-vim-tabular.git
[submodule ".config/vim/pack/plugins/start/vim-snipmate"]
	path = .config/vim/pack/plugins/start/vim-snipmate
	url = git@github.com:humeniuc/clone-vim-snipmate.git
[submodule ".config/vim/pack/plugins/start/vim-editorconfig"]
	path = .config/vim/pack/plugins/start/vim-editorconfig
	url = git@github.com:humeniuc/clone-vim-editorconfig.git
[submodule ".config/vim/pack/plugins/opt/vim-exrc"]
	path = .config/vim/pack/plugins/opt/vim-exrc
	url = git@github.com:humeniuc/clone-vim-exrc.vim.git
[submodule ".config/vim/pack/plugins/opt/vim-fugitive"]
	path = .config/vim/pack/plugins/opt/vim-fugitive
	url = git@github.com:humeniuc/clone-vim-fugitive.git
[submodule ".config/vim/pack/plugins/opt/vim-fzf"]
	path = .config/vim/pack/plugins/opt/vim-fzf
	url = git@github.com:humeniuc/clone-vim-fzf.git
[submodule ".config/vim/pack/plugins/opt/vim-fzf.vim"]
	path = .config/vim/pack/plugins/opt/vim-fzf.vim
	url = git@github.com:humeniuc/clone-vim-fzf.vim.git
[submodule ".config/vim/pack/plugins/opt/vim-unite.vim"]
	path = .config/vim/pack/plugins/opt/vim-unite.vim
	url = git@github.com:humeniuc/clone-vim-unite.vim.git
[submodule ".config/vim/pack/plugins/opt/vim-localvimrc"]
	path = .config/vim/pack/plugins/opt/vim-localvimrc
	url = git@github.com:humeniuc/clone-vim-localvimrc.git
[submodule ".config/vim/pack/plugins/opt/vim-http-client"]
	path = .config/vim/pack/plugins/opt/vim-http-client
	url = git@github.com:humeniuc/clone-vim-http-client.git
[submodule ".config/vim/pack/plugins/opt/vimspector"]
	path = .config/vim/pack/plugins/opt/vimspector
	url = git@github.com:humeniuc/clone-vim-vimspector.git
[submodule ".config/vim/pack/color/opt/iceberg.vim"]
	path = .config/vim/pack/color/opt/iceberg.vim
	url = git@github.com:cocopon/iceberg.vim.git
[submodule "lib/bash/z"]
	path = lib/bash/z
	url = git@github.com:humeniuc/clone-sh-z.git
[submodule ".config/tmux/plugins/pop"]
	path = .config/tmux/plugins/pop
	url = git@github.com:humeniuc/clone-tmux-pop.git
[submodule ".config/tmux/plugins/extrakto"]
	path = .config/tmux/plugins/extrakto
	url = git@github.com:humeniuc/tmux-extrakto.git
[submodule ".config/tmux/plugins/sombre"]
	path = .config/tmux/plugins/sombre
	url = git@github.com:humeniuc/clone-sombre.tmux.git
