[submodule ".vim/pack/plugins/start/tabular"]
	path = .vim/pack/plugins/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule ".vim/pack/syntax/start/vim-javascript"]
	path = .vim/pack/syntax/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/plugins/start/vim-localvimrc"]
	path = .vim/pack/plugins/start/vim-localvimrc
	url = git@github.com:embear/vim-localvimrc.git
[submodule ".vim/pack/syntax/start/vim-less"]
	path = .vim/pack/syntax/start/vim-less
	url = git@github.com:genoma/vim-less.git
[submodule ".vim/pack/syntax/start/smarty.vim"]
	path = .vim/pack/syntax/start/smarty.vim
	url = git@github.com:blueyed/smarty.vim.git
[submodule ".vim/pack/plugins/start/vim-commentary"]
	path = .vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule ".vim/pack/plugins/start/vim-qlist"]
	path = .vim/pack/plugins/start/vim-qlist
	url = git@github.com:romainl/vim-qlist.git
[submodule ".vim/pack/syntax/start/php.vim"]
	path = .vim/pack/syntax/start/php.vim
	url = git@github.com:StanAngeloff/php.vim.git
[submodule ".vim/pack/plugins/opt/vdebug"]
	path = .vim/pack/plugins/opt/vdebug
	url = git@github.com:joonty/vdebug.git
[submodule ".vim/pack/plugins/opt/async.vim"]
	path = .vim/pack/plugins/opt/async.vim
	url = git@github.com:prabirshrestha/async.vim
[submodule ".vim/pack/plugins/opt/asyncomplete.vim"]
	path = .vim/pack/plugins/opt/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/plugins/opt/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins/opt/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/plugins/opt/vim-lsp"]
	path = .vim/pack/plugins/opt/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp
[submodule ".vim/pack/plugins/start/sandwich"]
	path = .vim/pack/plugins/start/sandwich
	url = git@github.com:machakann/vim-sandwich.git
[submodule ".vim/pack/plugins/opt/gutentags"]
	path = .vim/pack/plugins/opt/gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
