# sample $HOME/.tmux.local.conf
# nu link-a, este specific hoost-ului
#
# evidențiere mediu
# productie
# set -g status-left "#[fg=white,bg=red] #S (P) #[bg=default,fg=default]"
# set -g status-right "#[fg=white,bg=red] #H productie #[bg=default,fg=default]"
# development
# set -g status-left "#[fg=#ffffff,bg=#8A2BE2] #S #[bg=default,fg=default]"
# set -g status-right " #H #[fg=#ffffff,bg=#8A2BE2] devel #[bg=default,fg=default]"
# local
# set -g status-right " #H (localhost) "

# documentatia completa la
# http://man.openbsd.org/OpenBSD-current/man1/tmux.1#status-left

# tmux show-options -g status-left
# status-left "[#S] "
#
# tmux show-options -g status-right
# status-right "#{?window_bigger,[#{window_offset_x}#,#{window_offset_y}] ,}\"#{=21:pane_title}\" %H:%M %d-%b-%y"

