[Desktop Entry]
Version=1.0
Type=Application
Name=Redshift
GenericName=Redshift
Comment=Launch Redshift
Icon=redshift
Exec=bash -c 'killall -q redshift ; killall -q redshift-gtk ; setsid redshift-gtk -P -l 44.4355087534986:26.10252346268249'
Terminal=false
Hidden=false
