#!/bin/bash

SCRIPT_DIR="$(dirname "$( readlink -f "${BASH_SOURCE[0]}" )")"

_error_message() {
    [ -n "$1" ] && {
        echo "$1" >&2
        command -v /bin/notify-send >/dev/null && notify-send -- "$1"
    }
}

_exit() {
    [ -n "$1" ] && _error_message "$1"
    exit "${2:-1}"
}

main()
{   
    // stuff
}

main "$@"
