snippet con console.debug
	console.debug(${1});${2}
snippet con console.log
	console.log(${1});${2}
snippet con console.dir
	console.dir(${1});${2}
snippet dbl
	console.log('(' + (new Error).lineNumber + ') ' + (new Error).fileName);
# acolade
snippet {
	{
		${1}
	}


